#div1 {
  padding-bottom: 15px;
}

/* .markdown-preview-view .external-link {
  /*https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events cursor: text; * /
  pointer-events: none;
} */

.view {
  margin: 0 20px;
  border: 3px solid rgb(85, 85, 85);
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
  background-color: #ffffff;
  color: #000000;
  padding: 15px;

  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;

  /* Zoom out 15% */
  transform: scale(0.85);
  transform-origin: top center;
}

/*doesnt work
.view pre {
  color: rgb(255, 0, 0);
}
*/

.Fpath {
  user-select: text;
}

p {
  font-size: 16px;
}

.setting-item-descriptionn {
  /* color: var(--text-muted); */
  /* font-size: var(--font-ui-smaller); */
  font-size: 12.4px;
  /* padding-top: var(--size-2-1); */
  margin-top: -7px;
  padding-bottom: 10px; /*works */
  line-height: var(--line-height-tight);
  color: #ff4d4d;
}

.header {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
}

/*make sure it doesnt override current one */
.copy-code-button {
  float: right;
}

.open-reading-view {
  float: right;
}

.tree-item-self {
  /* pointer-events: none; */
}

.my-setting-name {
  color: red;
}

/* make scrollbar thicker */
/*
.view-content::-webkit-scrollbar {
  width: 100px;
}
*/
